<% include ../partials/header %>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">REDDIT_CLONE</a>
    </div>
     <div class="navbar-header">
      <a class="navbar-brand" href="/">
      <% if(currentUser) {%>
  Welcome, <%= currentUser.name%>
<% }%></a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
    <% if(!currentUser) {%>
        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> 
    <% } else { %>

         <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      <% } %>
      </ul>
    </div>
  </div>
</nav>

<a href="/posts/<%=post._id%>/comments/new" class="btn-lg btn-success text-center">COMMENT</a>

<a href="/" class="btn-lg btn-info text-center">HOME</a>
<% if(currentUser) {%>
  <h1> </h1>
<% }%>
<br>
<br>
   

  <a href="<%=post.url%>"><h3><%=post.title%></h3></a>
   


    <% post.comments.forEach(function(comment){ %> 
    <p><%=comment.body%></p>
  
    <span> <%if(post.user){ %>
    <form action="/comments/<%=comment._id%>?_method=delete" method="POST"> <button class="btn-sm btn-danger">
    delete</button></form> 
    <a href="/comments/<%=comment._id%>/edit" class="btn-info btn-sm">edit</a>
    <%}%>
    </span>
     </div> 
    <%})%>
<% include ../partials/footer %>