<% include ../partials/header %>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">REDDIT_CLONE</a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
    <% if(!currentUser) {%>
        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> 
    <% } else { %>

         <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      <% } %>
      </ul>
    </div>
  </div>
</nav>

<a href="/posts/<%=post._id%>/comments/new" class="btn-lg btn-info text-center">COMMENT</a>
<% if(currentUser) {%>
  <h1>Welcome Back: <%= currentUser.name%></h1>
<% }%>
<br>
<br>
    <% post.comments.forEach(function(post){ %> 
  
    <a href="<%=comment.user%>"><%=post.title%></a>
    <p> <%if(post.user){ %>
    By: <%=post.user.name%> | 
    <%}%>
    comment |
    <form action="/posts/<%=post._id%>?_method=delete" method="POST"> <button class="btn-sm">
    delete</button></form> 
    </p>
     </div> 
    <%})%>
<% include ../partials/footer %>